# 依赖
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# 构建输出
dist/
out/
build/
release/
*.exe
*.dmg
*.pkg
*.app

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 操作系统
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# 编辑器
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron相关
.electron-nuxt/

# 临时文件
.tmp/
.temp/
.cache/
tmp/
temp/

# 日志
logs/
*.log
